{% extends "base.html"%}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'user_search.css' %}">
{% endblock %}
{% block title %}運動管理アプリ{% endblock %}
{% block h1 %}運動管理アプリ{% endblock %}
{% block content %}
<div class="container">
    <button id="menu-toggle" class="hamburger-menu" aria-label="メニューを開く">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div id="menu-dropdown" class="menu-dropdown">
        <nav class="menu-nav">
            <a class="menu-link" href="{% url 'friend:friends_list' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-users">
                    <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
                    <path d="M16 3.128a4 4 0 0 1 0 7.744"></path>
                    <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
                    <circle cx="9" cy="7" r="4"></circle>
                </svg>
                フレンド
            </a>
            <a class="menu-link" href="{% url 'friend:user_search' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-users">
                    <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
                    <path d="M16 3.128a4 4 0 0 1 0 7.744"></path>
                    <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
                    <circle cx="9" cy="7" r="4"></circle>
                </svg>
                フレンドを追加
            </a>
            <a class="menu-link" href="{% url 'friend:friend_requests' %}">受け取ったフレンド申請</a>
            <a class="menu-link" href="{% url 'friend:sent_requests' %}">送ったフレンド申請</a>
        </nav>
    </div>

    <ul class="workouts-section">
        {% if received_requests %}
        {% for req in received_requests %}
        <li class="workout-card">
            {{ req.from_user.username }}

            <form method="post" action="{% url 'friend:accept_request' req.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="green-button workout-time">承認</button>
            </form>

            <form method="post" action="{% url 'friend:reject_request' req.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="red-button workout-time">拒否</button>
            </form>
        </li>
        {% endfor %}
        {% else %}
        <p>フレンド申請はありません</p>
        {% endif %}
    </ul>
</div>
{% endblock content %}