{% extends "base.html"%}
{% block title %}運動管理アプリ{% endblock %}
{% block h1 %}運動管理アプリ{% endblock %}
{% block content %}
<div>
    <h2>フレンド申請一覧</h2>

    {% if received_requests %}
    <ul>
        {% for req in received_requests %}
        <li>
            {{ req.from_user.username }}

            <form method="post" action="{% url 'friend:accept_request' req.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">承認</button>
            </form>

            <form method="post" action="{% url 'friend:reject_request' req.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">拒否</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>フレンド申請はありません</p>
    {% endif %}
</div>
{% endblock content %}