{% extends "base.html"%}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'user_search.css' %}">
{% endblock %}
{% block title %}運動管理アプリ{% endblock %}
{% block h1 %}運動管理アプリ{% endblock %}
{% block content %}
<div class="container">
    <button id="menu-toggle" class="hamburger-menu" aria-label="メニューを開く">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div id="menu-dropdown" class="menu-dropdown">
        <nav class="menu-nav">
            <a class="menu-link" href="{% url 'friend:friends_list' %}">
                フレンド
            </a>
            <a class="menu-link" href="{% url 'friend:user_search' %}">
                フレンドを追加
            </a>
            <a class="menu-link" href="{% url 'friend:friend_requests' %}">受け取ったフレンド申請</a>
            <a class="menu-link" href="{% url 'friend:sent_requests' %}">
                送ったフレンド申請
            </a>
        </nav>
    </div>

    <ul class="workouts-section">
        {% if sent_requests %}
        {% for req in sent_requests %}
        <li class="workout-card">
            <p class="workout-info">{{ req.to_user.username }}</p>
            <form action="{% url 'friend:cancel_friend_request' req.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="red-button workout-time">キャンセル</button>
            </form>
        </li>
        {% endfor %}
        {% else %}
        <p>フレンド申請をしていません</p>
        {% endif %}
    </ul>
</div>
{% endblock content %}