{% extends "base.html"%}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'user_search.css' %}">
{% endblock %}
{% block title %}運動管理アプリ{% endblock %}
{% block h1 %}運動管理アプリ{% endblock %}
{% block content %}
<div class="container">
    <div class="search-header">
        <form class="search-form" method="get">
            <input type="text" name="q" placeholder="ユーザー名検索">
            <button type="submit">検索</button>
        </form>

        <button id="menu-toggle" class="hamburger-menu" aria-label="メニューを開く">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div id="menu-dropdown" class="menu-dropdown">
            <nav class="menu-nav">
            <a class="menu-link" href="{% url 'friend:friends_list' %}">
                フレンド
            </a>
            <a class="menu-link" href="{% url 'friend:user_search' %}">
                フレンドを追加
            </a>
            <a class="menu-link" href="{% url 'friend:friend_requests' %}">受け取ったフレンド申請</a>
            <a class="menu-link" href="{% url 'friend:sent_requests' %}">
                送ったフレンド申請
            </a>
        </nav>
    </div>

    <ul class="workouts-section">
        {% for user in users %}
        <li class="workout-card">
            <p class="workout-info">{{ user.username }}</p>
            {% if user.is_friend %}
            <span class="workout-time">フレンド</span>
            {% elif user.friend_request %}
            <form action="{% url 'friend:cancel_friend_request' user.friend_request.id %}" method="post">
                {% csrf_token %}
                <button class="red-button workout-time" type="submit">キャンセル</button>
            </form>
            {% else %}
            <form action="{% url 'friend:send_friend_request' user.id %}" method="post">
                {% csrf_token %}
                <button class="green-button workout-time" type="submit">申請する</button>
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}