{% extends "base.html"%}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'friends_exercise_records.css' %}">
{% endblock %}
{% block title %}運動管理アプリ{% endblock %}
{% block h1 %}運動管理アプリ{% endblock %}
{% block content %}
<div class="workouts-section">
    <div class="section-header">
        <div class="section-title">フレンドの運動記録</div>
    </div>
    {% for exercise_record in exercise_records %}
    <div class="friends-exercise-record-card">
        <!-- <div class="workout-icon" style="background: linear-gradient(135deg, #92E82A, #B4FF00);">🚴</div> -->
        <div class="friends-exercise-user">
            {{ exercise_record.user.username }}
            <img class="friends-exercise-icon" src="{{ exercise_record.user.profile_image.url }}">
        </div>
        <div class="friends-exercise-info">
            <div class="friends-exercise-name">{{ exercise_record.exercise_type|default:"その他" }}</div>
            <div class="friends-exercise-details">{{ exercise_record.diary }}</div>
        </div>
        <div class="friends-exercise-time">{{ exercise_record.duration_minutes }}分</div>
        <!-- <div class="workout-time">{{ exercise_record.exercise_end_time }}</div> -->
        <!-- <div class="workout-time">{{ exercise_record.exercise_start_time }}</div> -->
    </div>
    {% endfor %}
</div>
{% endblock content %}